button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    font-size: 18px;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
    transition-duration: .5s;
  }
  .button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }