:root {
  font-size: 62.5%; /* 10px */
  
  --color-white: #F7F7F7;
  --color-gray: #EFEFEF;
  --color-dark-grey: #666666;
  --color-black: #1D1D1D;
  --color-blue: #2F2EAE;
}

body {
  max-width: 100%;
  text-align: center;
  font-family: montserrat, sans-serif;
  background-color: var(--color-gray);
}

h2 {
  font-size: 24px;
}