#profile-link img {
  max-height: 30px;
  border-radius: 50%;
  padding: 10px;
}

#profile {
  display: flex;
  flex-direction: column;
}

#profile-link {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#profile-img {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;

  box-shadow: 0 0 15px -5px var(--color-dark-grey);
  order: -1;
}

#profile-img img {
  border: 5px solid var(--color-gray);
  border-radius: 50%;
}

#contact-info p {
  font-size: 1.8rem;
  margin-top: -10px;
}

#contact-info h3 {
  font-size: 2.2rem;
}

#contact-info {
  width: 75%;
  margin: 100px auto 20px auto;
  padding: 105px 10px 50px 10px;
  
  color: var(--color-white);

  background-color: var(--color-blue);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color-dark-grey);
  order: -2;
}

.my-profile {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-black);
  
  padding: 0 10px;
  margin: 30px 10px;
  min-width: 16rem;
  
  background-color: var(--color-white);
  
  border-radius: 30px;

  display: flex;
  flex-direction: row;
}

.my-profile:hover {
  color: var(--color-blue);
}
