#projects-section,
#profile-section {
  padding-top: 50px;
}

#project-itens img {
  max-width: 350px;
  border-radius: 5px;
}
   
#project-itens {  
  display: flex;
  justify-content: space-evenly;
}

#project-itens a {
  color: var(--color-grey);
  text-decoration: none;
}

.project-tile {
  padding-bottom: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 15px -5px var(--color-dark-grey);
  border-radius: 5px;
  transition-duration: .5s;
}

.img-caption {
  font-size: 1.8rem;
  padding-top: 15px;
}

.code {
  opacity: 0%;
  font-weight: bold;
}
.project-tile:hover .code{
  animation-name: fading;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}